/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BASE */
body {
  font-family: Arial, sans-serif;
  background: #ffffff;
  color: #000000;
  line-height: 1.6;
}

/* HEADINGS */
h1, h2, h3 {
  margin-bottom: 15px;
  color: #0b1f3a;
}

/* PARAGRAPHS */
p {
  margin-bottom: 10px;
}

/* HERO */
.hero {
  text-align: center;
  padding: 60px 20px 40px;
}

.hero h1 {
  font-size: 50px;
}

.hero p {
  max-width: 750px;
  margin: 15px auto 25px auto;
  font-size: 16px;
  line-height: 1.7;
  color: #333;
}

/* SECTIONS */
.section {
  padding: 30px 20px;
  text-align: center;
}
#skills {
  padding-top: 20px;
}

h1, h2, h3, p {
  margin: 0;
}

.section h2 {
  margin-bottom: 25px;
}

.section {
  padding: 60px 20px;
}

/* GRID */
.grid {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

/* CARDS */
.card {
  width: 380px;
  padding: 30px;
  border-radius: 12px;
  border: 1px solid #e5e7eb;
}

.card:hover {
  transform: translateY(-5px);
}
/* Skills */
.skills-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.skill-card {
  width: 250px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  text-align: center;
}

/* Projects */
.projects-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.project-card {
  width: 400px;
  padding: 30px;
  border: 1px solid #ddd;
  border-radius: 12px;
}

/* BUTTONS */
.btn-primary {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 14px;
  background: #0b1f3a;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  transition: 0.3s;
}

.btn-primary:hover {
  background: #c1121f;
}

.btn-secondary {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 14px;
  border: 2px solid #0b1f3a;
  color: #0b1f3a;
  text-decoration: none;
  border-radius: 6px;
  transition: 0.3s;
}

.btn-secondary:hover {
  background: #0b1f3a;
  color: white;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  border-top: 1px solid #eee;
  margin-top: 40px;
}

/* CASE STUDY PAGE */

.case-study {
max-width: 1000px;
margin: auto;
padding: 50px 20px;
}

.back-btn {
display: inline-block;
margin-bottom: 30px;
text-decoration: none;
color: #0b1f3a;
font-weight: 600;
}

.case-header {
margin-bottom: 50px;
}

.case-header h1 {
font-size: 42px;
margin-bottom: 15px;
}

.subtitle {
font-size: 18px;
color: #555;
max-width: 800px;
}

.case-section {
margin-bottom: 50px;
}

.case-section h2 {
margin-bottom: 20px;
color: #0b1f3a;
}

.case-section ul {
padding-left: 20px;
}

.case-section li {
margin-bottom: 10px;
}

.results-grid {
display: flex;
gap: 20px;
flex-wrap: wrap;
margin-bottom: 25px;
}

.result-box {
flex: 1;
min-width: 220px;
padding: 25px;
border: 1px solid #e5e7eb;
border-radius: 12px;
text-align: center;
}

.result-box h3 {
font-size: 32px;
color: #0b1f3a;
}

.case-image {
width: 100%;
border-radius: 12px;
margin-top: 20px;
border: 1px solid #ddd;
}
